<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>
        <i class="fa fa-edit">Edit Issue</i>
      </h2>
      <form *ngIf="issue" #editForm="ngForm" (ngSubmit)="onSubmit(editForm.value)">
        <div class="form-group">
          <label for="description">Issue Description </label>
          <input type="text" class="form-control" id="description" name="description" [(ngModel)]="issue.description" required minlength="2"
            #nameRef="ngModel">
          <div *ngIf="nameRef.invalid && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
            <div *ngIf="nameRef.errors.required">
              Description is required.
            </div>
            <div *ngIf="nameRef.errors.minlength">
              Description must be at least 20 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="severity">Severity</label>
          <select class="form-control" name="severity" [ngModel]="issue.severity">
            <option *ngFor="let severity of severities" [value]="severity">
              {{severity}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" name="status" [ngModel]="issue.status">
            <option *ngFor="let status of statuses" [value]="status">
              {{status}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="CreatedDate">Creation date
            <i class="fa fa-calendar-alt"></i>
          </label>
          <input type="date" class="form-control" id="createdDate" name="createdDate" [(ngModel)]="issue.createdDate" required>
        </div>
        <div class="form-group">
          <label for="ResolvedDate">Resolved date
            <i class="fa fa-calendar-alt"></i>
          </label>
          <input type="date" class="form-control" id="resolvedDate" name="resolvedDate" [(ngModel)]="issue.resolvedDate" required>
        </div>
        <div class="text text-center">
          <button type="submit" class="btn btn-info" [disabled]="editForm.invalid">Submit&nbsp;
            <i class="fa fa-save"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>